@charset "utf-8";
*{
   margin:0;
   padding:0;
}

/*スマホ用スクリーン*/
@media screen and (max-width:600px){

h1{
    text-align: center;
}
.hamburger{
    width:42px;
    height:42px;
    border: 2px solid #bbb;
    position:fixed;
    top:20px;
    right:20px;
    z-index:3;
}

.hamburger span{
    width:30px;
    height: 2px;
    background-color: #bbb;
    position:absolute;
    left:6px;
    transition:1s;
}

.hamburger span:nth-child(1){
    top:10px;
}

.hamburger span:nth-child(2){
    top:20px;
}

.hamburger span:nth-child(3){
    top:30px;
}

.hamburger.active span:nth-child(1){
    background-color: #000;
    transform: rotate(-45deg);
    top:20px;
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3){
    background-color: #000;
    transform: rotate(45deg);
    top:20px;
}

nav.globalMenuSp{
    background-color: #d4cfd4;
    color:#fff;
    width:100%;
    text-align: center;
    transform: translateX(100%);
    position:fixed;
    top:0;
    z-index:2;
    transition:1s;
}

nav.globalMenuSp ul{
    list-style: none;
    width:100%;
    margin:0;
    padding:0;
}

nav.globalMenuSp ul li{
    padding:0;
    width:100%;
}

nav.globalMenuSp ul li a{
    text-decoration: none;
    color:#fff;
    padding:1em 0;
    display:block;
}

nav.globalMenuSp ul li a:hover{
    background-color: #bbb;
}

nav.globalMenuSp.active{
    transform:translateX(0%);
}
/*スマホ用スクリーンおわり*/
}

/*PC用スクリーン*/
@media screen and (min-width:1025px){
    
    .hamburger{
        display:none;
    }

    header{
        width:100%;
        display:flex;
        background-color: #fff;
    }

    h1{
        width:30%;
        transition:1s all;
    }

    nav.globalMenuSp{
        width:70%;
    }

    nav.globalMenuSp ul{
        display:flex;
        justify-content: flex-end;
        list-style: none;
        font-size:1.2em;
    }

    nav.globalMenuSp ul li{
        border-left: 2px solid #000;
    }

    nav.globalMenuSp ul li a{
        display: block;
        padding:10px;
        text-decoration: none;
        color:#808080;
    }

    nav.globalMenuSp ul li a:hover{
        color:red;
        background-color: #d3d3d3;
        border-bottom:3px solid red ;
    }

/*PC用スクリーンおわり*/
}
